.img-logo {
  height: 100px;
  object-fit: contain;
  object-position: center;
}

p {
  font-weight: 500;
}

h4 {
  font-weight: 700;
}


@media (min-width: 1200px) {
  .img-logo {
    height: 84px;
  }
}