<div class="row mx-2 my-3">
  <div class="col-12 col-lg-8 offset-lg-2">
    <mat-card class="px-lg-5">
      <h4 class="font-weight-700">Políticas de privacidad de criptoPago</h4>
      <small class="text-secondary">Última actualización: 13 de julio de 2021</small>
      
      <div class="alert alert-secondary mt-2">
        <p class="fst-italic mb-0">
          El derecho a la privacidad es un derecho humano básico. Lucharemos por el tuyo.
        </p>
      </div>

      <h5 class="font-weight-700">Introducción</h5>

      <p>
        Esta política de privacidad se emite en nombre de CASE S.A. de C.V. una empresa constituida bajo las leyes de México y es el controlador de los datos personales
        recopilados a través del sitio web.
      </p>
      <p>En esta política puede encontrar más información sobre:</p>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">1. ¿Cómo recopilamos sus datos personales?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Podemos recopilar sus datos directamente (por ejemplo, cuando nos los proporciona), indirectamente (por ejemplo, cuando otra persona nos los proporciona) o mediante
            tecnologías automatizadas (por ejemplo, cookies).
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">2. ¿Qué datos personales recopilamos?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Para utilizar la plataforma, CriptoPago no requiere de sus Clientes ningún dato que los tenga "identificados" o "identificables", a menos que las leyes, regulaciones
            o el Producto que el Cliente está adquiriendo así lo requieran.
          </p>
          <p>
            Sin embargo, el Cliente puede optar por registrar una cuenta con CriptoPago. Al hacerlo, el Cliente proporcionará datos con lo que pueden ser "identificados" o
            "identificables".
          </p>
        
          <p>
            <b>2.1.</b> Solo procesaremos datos que sean adecuados, relevantes y necesarios para los fines descritos en el párrafo (3). Esto puede incluir:
          </p>
          <ul>
            <li>Datos de identidad (por ejemplo, su nombre);</li>
            <li>Datos de contacto (por ejemplo, su correo electrónico y número de teléfono);</li>
            <li>Datos profesionales (por ejemplo, su función en una empresa, si representa a una persona jurídica);</li>
            <li>Datos técnicos, (por ejemplo, su IP);</li>
            <li>Datos de uso (por ejemplo, cómo utiliza nuestros servicios);</li>
            <li>Datos de marketing y comunicaciones (por ejemplo, sus preferencias de marketing); y</li>
            <li>Cualquier otro dato personal proporcionado por usted en el curso de su relación con CriptoPago.</li>
          </ul>
        
          <p>
            <b>2.2.</b> No recopilamos ninguna categoría especial de datos personales sobre usted (por ejemplo, raza o etnia, creencias religiosas o filosóficas, vida sexual,
            orientación sexual, opiniones políticas, afiliación sindical, información sobre su salud y datos genéticos y biométricos). Tampoco recopilamos información sobre
            condenas y delitos penales.
          </p>
        
          <p>
            <b>2.3.</b> Algunos servicios requieren que nos proporciones datos personales (por ejemplo, tu número de teléfono o correo electrónico para entregar una recarga o una
            tarjeta de regalo). Es posible que no podamos realizar los servicios a menos que usted dé su consentimiento para el procesamiento de dichos datos.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">3. ¿Por qué procesamos sus datos personales?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <b>3.1.</b> En los casos en los que nos dio acceso a datos identificables, podemos usarlos para los siguientes propósitos:
          </p>

          <table class="table table-responsive-md table-striped">
            <thead>
              <tr>
                <th>Propósito / Actividad</th>
                <th>Tipo de datos</th>
                <th>Base legal para el procesamiento, incluida la base del interés legítimo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Para proporcionar los servicios y administrar la relación con el cliente.</td>
                <td>
                  <dl>(a) Datos de identidad</dl>
                  <dl>(b) Datos de contacto</dl>
                  <dl>(c) Datos profesionales</dl>
                </td>
                <td>
                  <dl>(a) Ejecución de un contrato con usted;</dl>
                  <dl>(b) Necesario para cumplir con una obligación legal;</dl>
                  <dl>
                    (c) Necesario para nuestros intereses legítimos (para mantener nuestros registros actualizados y para estudiar cómo los clientes utilizan nuestros productos /
                    servicios).
                  </dl>
                </td>
              </tr>
              <tr>
                <td>Para administrar el sitio web</td>
                <td>
                  <dl>(a) Identidad</dl>
                  <dl>(b) Contacto</dl>
                  <dl>(c) Técnico</dl>
                </td>
                <td>
                  <dl>
                    (a) Necesario para nuestros intereses legítimos (para dirigir nuestro negocio, prestación de servicios de administración y TI, seguridad de la red, para
                    prevenir fraudes y en el contexto de una reorganización empresarial o ejercicio de reestructuración de grupo);
                  </dl>
                  <dl>(b) Necesario para cumplir con una obligación legal.</dl>
                </td>
              </tr>
              <tr>
                <td>Para publicidad, análisis de datos y para proporcionar recomendaciones</td>
                <td>
                  <dl>(a) Datos de identidad</dl>
                  <dl>(b) Datos de contacto</dl>
                  <dl>(c) Datos profesionales</dl>
                  <dl>(d) Datos técnicos</dl>
                  <dl>(e) Datos de uso</dl>
                  <dl>(f) Datos de marketing y comunicaciones</dl>
                </td>
                <td>
                  Necesarios para nuestros intereses legítimos (para estudiar cómo los usuarios utilizan nuestros servicios y nuestro sitio web para desarrollarlos, hacer crecer
                  nuestro negocio e informar nuestra estrategia de marketing). Estos datos no se venden a terceros para ningún propósito.
                </td>
              </tr>
            </tbody>
          </table>

          <p>
            <b>3.2.</b> Solo conservaremos sus datos personales durante el tiempo que sea razonablemente necesario para cumplir con los fines para los que los recopilamos o según lo
            establezcan los requisitos reglamentarios o legales. Solo conservaremos sus datos personales durante un período más largo en caso de una queja o si creemos
            razonablemente que existe una perspectiva de litigio con respecto a nuestra relación con usted.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">4. ¿Cuándo compartimos su información?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><b>4.1. General</b></p>
          <p>CriptoPago no divulga sus datos personales a terceros, excepto como se describe en esta política.</p>
          <p>
            Podríamos compartir sus datos con terceros cuando sea necesario para realizar servicios de soporte (por ejemplo, necesitamos comunicar su número de teléfono para que
            se vuelva a llenar) o de alguna manera facilitar la prestación de los servicios de CriptoPago.
          </p>
          <p>
            También podemos divulgar sus datos personales bajo sus instrucciones, para ejecutar el contrato celebrado por nosotros con usted, para proteger los nuestros y sus
            derechos e intereses y los de nuestros socios comerciales o de conformidad con su consentimiento expreso.
          </p>
          <p>Finalmente, podemos compartir sus datos personales, de forma confidencial, con subcontratistas, para cualquiera de los fines indicados anteriormente.</p>
          <p>
            CriptoPago no se dedica a vender datos a terceros con fines de lucro. Entendemos la lucha de nuestros clientes por mantener la privacidad de sus vidas y puede
            esperar un fuerte compromiso de nuestra parte para que tenga éxito en esos esfuerzos.
          </p>

          <p><b>4.2. Específicamente: Cooperación con las fuerzas del orden</b></p>
          <p>Sus datos personales solo se divulgarán a las autoridades judiciales u otros organismos gubernamentales, en la medida en que lo exijan las leyes y reglamentos.</p>
          <p>
            CriptoPago no compartirá los datos personales del Cliente a menos que así lo requiera un instrumento legal apropiado (por ejemplo, una citación, una orden judicial o
            el equivalente legal en el país emisor). Circunstancias excepcionales (como una solicitud muy urgente que puede salvar una vida humana o evitar un gran daño) pueden
            determinar una reacción diferente de nuestra parte, pero solo en la medida permitida por la ley.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">5. ¿Cómo protegemos sus datos personales?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Estamos comprometidos a proteger la privacidad y confidencialidad de sus datos personales. El acceso a sus datos está limitado solo a funcionarios, empleados,
            contratistas u otras personas autorizados de CriptoPago que puedan requerir acceso a ellos para realizar los servicios solicitados por usted.
          </p>
          <p>Específicamente, hemos implementado las siguientes medidas de seguridad:</p>
        
          <ul>
            <li>Personal dedicado a la seguridad cibernética y física, que diseña, implementa y supervisa nuestro programa de seguridad de la información;</li>
            <li>El uso de tecnología especializada, como herramientas de seguridad basadas en host, monitores de defensa de red y sistemas de detección de intrusos;</li>
            <li>
              Prueba de la seguridad y operatividad de productos y servicios antes de que se introduzcan en Internet, así como escaneo continuo en busca de vulnerabilidades
              conocidas públicamente en la tecnología;
            </li>
            <li>Revisiones internas y externas de nuestro sitio web y servicios de Internet;</li>
            <li>Monitoreo de nuestra infraestructura de sistemas para detectar debilidades e intrusiones potenciales;</li>
            <li>Implementar controles para identificar, autenticar y autorizar el acceso a varios sistemas o sitios;</li>
            <li>Proteger la información durante la transmisión a través de diversos medios, incluido, cuando corresponda, el cifrado y</li>
            <li>
              Brindar al personal de criptoPago capacitación relevante y actualizar continuamente nuestras prácticas de seguridad a la luz de nuevos riesgos y desarrollos en
              tecnología.
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">6. ¿Cómo puede ejercer sus derechos?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>En determinadas circunstancias, tiene los siguientes derechos en virtud de las leyes de protección de datos en relación con sus datos personales:</p>
          <ul>
            <li>
              Derecho a acceder, corregir o borrar sus datos personales. Esto le permite recibir una copia de los datos personales que tenemos sobre usted y verificar que los
              estamos procesando legalmente, corregir cualquier inexactitud o solicitar (en la medida en que lo permita la ley) la eliminación de sus datos.
            </li>
            <li>
              Oponerse al procesamiento de sus datos personales cuando confiamos en un interés legítimo (o los de un tercero) y hay algo en su situación particular que hace que
              desee oponerse al procesamiento por este motivo, ya que cree que tiene un impacto en su derechos y libertades fundamentales.
            </li>
            <li>
              Solicitar la restricción del procesamiento de sus datos personales. Esto le permite solicitarnos que suspendamos el procesamiento de sus datos personales en los
              siguientes escenarios:
            </li>
            <ul>
              <li>Si desea que establezcamos la exactitud de los datos.</li>
              <li>Donde necesite que retengamos los datos incluso si ya no los necesitamos, ya que los necesita para establecer, ejercer o defender reclamaciones legales.</li>
              <li>Se ha opuesto a nuestro uso de sus datos, pero debemos verificar si tenemos motivos legítimos imperiosos para usarlos.</li>
            </ul>
            <li>Retirar el consentimiento en cualquier momento en el que dependamos del consentimiento para procesar sus datos personales.</li>
            <li>Solicitar la transferencia de sus datos personales a usted o un tercero.</li>
          </ul>

          <p>
            Si desea ejercer alguno de los derechos establecidos anteriormente, comuníquese con nosotros por escrito a <a class="text-decoration-none" href="mailto:soporte@criptopago.net">soporte@criptopago.net</a>. No tendrá
            que pagar una tarifa para acceder a sus datos personales (o para ejercer cualquiera de los otros derechos). Sin embargo, podemos cobrar una tarifa razonable si su
            solicitud no es razonable, repetitiva o excesiva. Alternativamente, podríamos negarnos a cumplir con su solicitud en estas circunstancias.
          </p>
          <p>
            Intentamos responder a todas las solicitudes legítimas dentro de un mes. Ocasionalmente, podría llevarnos más de un mes si su solicitud es particularmente compleja o
            si ha realizado varias solicitudes. En este caso, se lo notificaremos y lo mantendremos informado.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">B. Varios</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Nuestro sitio web y nuestros servicios no están destinados a menores de 16 años.</p>
          <p>
            No recopilamos a sabiendas información personal de menores de 16 años. Si es menor de 16 años, no nos utilice ni nos proporcione ninguna información sin el
            consentimiento de los padres. Si nos enteramos de que hemos recopilado o recibido información personal de un menor de 16 años sin la verificación del consentimiento
            de los padres, eliminaremos esa información.
          </p>
          <p>
            Si desea comunicarse con nosotros por cualquier asunto relacionado con la Política de privacidad de CriptoPago o con cómo procesamos sus datos personales,
            comuníquese con nosotros en <a class="text-decoration-none" href="mailto:soporte@criptopago.net">soporte@criptopago.net</a>.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </mat-card>
  </div>
</div>