<div class="row mx-2 my-3">
  <div class="col-12 col-lg-8 offset-lg-2">
    <mat-card class="px-lg-5">
      <h4 class="font-weight-700">Términos y condiciones de criptoPago</h4>      
      <p>
        Estos son los Términos y Condiciones ("<strong>Términos</strong>") aplicables a todos los servicios y productos ofrecidos en criptoPago. Léalos detenidamente, así
        como nuestra <a class="text-decoration-none" [routerLink]="['/politicas-de-privacidad']">Política de privacidad</a>, antes de continuar, ya que establecen la base contractual para cualquier transacción que
        ocurra en criptoPago.
      </p>
      <p>
        Al continuar usando criptoPago, usted ("<strong>Cliente</strong>") reconoce que ha leído y está de acuerdo con los Términos, así como con la Política de
        Privacidad, al comprar servicios y productos de criptoPago. Si no está de acuerdo con estos Términos y la Política de privacidad, no puede seguir usando
        criptoPago y le pedimos que se abstenga de hacerlo.
      </p>


      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="font-weight-700 mb-0">1. Propiedad</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Este sitio web es propiedad y está operado por Grupo CASE.</p>
          <p>
            Esta empresa, junto con las subsidiarias, empresas matrices y subsidiarias de las empresas matrices, se denominará en lo sucesivo la <strong>“Compañía”</strong>.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">2. El Servicio</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            criptoPago es una plataforma de comercio electrónico especializada en la reventa de tarjetas regalo, vales, pagos de servicios y recargas telefónicas 
            (<strong>“Producto”</strong> o <strong>“Productos”</strong>), de montos fijos o variables, en diferentes monedas, que pueden ser canjeados por el Cliente con un tercero, a cambio de servicios
            y productos ofrecidos por dicho tercero.
          </p>
          <p>El Cliente puede comprar el Producto utilizando diferentes tipos de criptomonedas.</p>
          <p>
            criptoPago permite al Cliente seleccionar el país donde el Cliente tiene la intención de comprar un Producto y muestra todas las ofertas disponibles en ese país.
          </p>
          <p>criptoPago muestra diferentes categorías, como "recargas de teléfonos", "comercio electrónico", "Servicios", etc.</p>
          <p>Una vez que se selecciona una categoría, los nombres y logotipos de los terceros con</p>
          <p></p>
          <p>
            Una vez que se selecciona una categoría, los nombres y logotipos de los terceros con Productos disponibles en criptoPago dentro de dicha categoría son mostrados.
          </p>
          Una vez que se selecciona un tercero, y dependiendo del Producto específico que ofrece, el Cliente puede seleccionar y comprar (i) un Producto que representa una
          cantidad predeterminada que el Cliente no puede cambiar o (ii) un Producto que representa una cantidad a ser libremente definido por el Cliente, en ambos casos
          hasta los límites que se establecen a continuación en “Limitaciones de Uso”.
          <p>Una vez que se selecciona una categoría, los nombres y logotipos de los terceros con</p>
          <p>
            Dependiendo del Producto, el Cliente puede canjear el Producto inmediatamente con el tercero relevante a través de criptoPago, en cuyo caso se proporcionará una
            notificación por escrito de canje, o la recibirá en pantalla y / o por correo electrónico, para canjearla de forma independiente en un futuro.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">3. Disponibilidad de servicios de terceros.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>El correcto funcionamiento de criptoPago depende de su interacción con varios proveedores.</p>
          <p>
            Las transacciones pueden, de vez en cuando, fallar debido a razones técnicas o de otro tipo. Por lo tanto, los clientes reconocen que es posible que no seamos
            responsables de un problema técnico que pueda afectar su transacción. Siempre que una transacción falle debido a razones técnicas, un Cliente puede calificar para
            un reembolso. Consulte la sección "Reembolsos" a continuación para obtener más información.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">4. Limitaciones de uso.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            El Cliente puede comprar Productos en la medida en que el Cliente cumpla las leyes y regulaciones aplicables o nuestras políticas internas. Cualquier
            incumplimiento derivará en la suspensión del servicio y trámites de ley que apliquen.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">5. Reembolsos.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Como se explicó anteriormente en "Disponibilidad de servicios de terceros", la compra de Productos a través de criptoPago depende del funcionamiento adecuado de
            los sistemas de terceros.
          </p>
          <p>Por lo tanto, de vez en cuando, la falla de dichos sistemas puede causar la falla de una transacción, lo que significa:</p>
          <ul>
            <li>El Cliente no recibió el Producto;</li>
            <li>El Producto se recibió, pero no se puede canjear por haber sido canjeado previamente;</li>
            <li>Se recibió el Producto, pero no se puede canjear por no ser válido.</li>
          </ul>
          <p>
            En caso de que el Cliente no reciba el Producto después de haber pagado y nosotros realicemos las diligencias adecuadas para proporcionar la entrega del Producto
            o comprender la causa del retraso, el Cliente podrá solicitar un reembolso.
          </p>
          <p>
            En caso de que el Producto haya sido recibido pero no pueda canjearse, el Cliente nos informará. Posteriormente, comenzaremos las diligencias apropiadas con los
            proveedores externos relevantes para corregir el problema. Si el proveedor externo no corrige el problema y acepta reembolsarnos, le reembolsaremos al Cliente.
          </p>
          <p>Una vez que se recibe un Producto, no se ofrecerán reembolsos a menos que sean derivadas de fallas técnicas.</p>
          <p>
            En caso de error técnico que provoque que el Producto no se entregue al Cliente, reembolsaremos al Cliente en su totalidad acreditando su Saldo con una
            transacción de devolución en la misma criptomoneda.
          </p>
          <p>Los reembolsos deben solicitarse dentro de los 10 días posteriores a la fecha de la transacción.</p>
          <p>
            A los efectos de solicitar un reembolso o cualquier otra información adicional, el Cliente deberá comunicarse con
            <a class="text-decoration-none" href="mailto:soporte@criptopago.net">soporte@criptopago.net</a>.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">6. Renuncias de responsabilidad relacionadas con el Producto.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Somos revendedores del Producto. No somos el creador, diseñador, emisor, organizador, beneficiario o administrador del Producto (el "<strong>Emisor</strong>"), ni
            hemos jugado ningún papel en la decisión de los términos y condiciones aplicables a cada Producto. Por lo tanto, no somos responsables de ningún problema, daño o
            pérdida que surja de los términos y condiciones de cada Producto individual.
          </p>
          <p>No estamos patrocinados por ningún Emisor, ni estamos relacionados, actuando en nombre o bajo la autorización expresa de cualquier Emisor.</p>
          <p>
            El Cliente, al adquirir el Producto, también está entablando una relación contractual con el Emisor, del que somos un tercero, contra el cual no se aplicarán las
            defensas y derechos contractuales derivados de la relación entre Cliente y Emisor.
          </p>
          <p>
            El Cliente se comprometerá con la debida diligencia con respecto a los términos y condiciones del Producto que se adquiere, en lo que respecta a su usabilidad y
            ejecución frente al Emisor. No aceptaremos ni seremos responsables de ninguna reclamación relacionada con los mismos. Esos términos y condiciones rigen el
            Producto adquirido.
          </p>
          <p>
            Los clientes reconocen y aceptan que no somos responsables de ninguna decisión o política del Emisor de negarse a aceptar el Producto sobre la base de los
            términos y condiciones que el Emisor aplica en relación con el Producto.
          </p>
          <p>
            No hacemos ninguna representación con respecto a la idoneidad del Producto para su uso previsto y no ofrecemos otras garantías o representaciones con respecto al
            Producto.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">7. Responsabilidad del Cliente.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            El Cliente es totalmente responsable de cualquier error, pérdida o daño (contra él mismo, nosotros o cualquier tercero) que surjan de (i) la provisión de
            información incorrecta, inexacta o falsa y de (ii) la adquisición, reventa, uso o otras actividades relacionadas del Producto, de una manera que infrinja las
            leyes, reglamentos, términos y condiciones contractuales u otros acuerdos aplicables.
          </p>
          <p>
            Para evitar dudas, cuando el Producto que se compra es una recarga de una tarjeta SIM prepago (o cualquier otro Producto que el Cliente canjea a través de
            criptoPago), el Cliente es el único responsable de la exactitud y corrección de la información insertada en el plataforma (incluyendo, a título enunciativo pero
            no limitativo, el número de teléfono, el país, el operador de red y el importe de la recarga) y no seremos responsables, en ningún caso, de las consecuencias
            derivadas de la inexactitud de los elementos facilitados por el cliente.
          </p>
          <p>
            Asimismo, en otros casos, el Cliente es el único responsable de la veracidad y corrección de la información insertada en la plataforma (incluyendo, pero no
            limitado a, la dirección a la que se debe entregar el Producto y el monto comprado).
          </p>
          <p>
            El Cliente es responsable de mantener la confidencialidad de su contraseña y cuenta y de cualquier actividad y transacción que ocurra bajo su cuenta. No seremos
            responsables ante ninguna persona por ninguna pérdida o daño que pueda surgir como resultado de cualquier falla por su parte para proteger su contraseña o cuenta.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">8. Uso ilícito.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            criptoPago y los Productos no deben usarse, de ninguna manera, para infringir o eludir las leyes y regulaciones aplicables y cualquier comportamiento ilegal está
            absolutamente prohibido en criptoPago.
          </p>
          <p>
            Si detectamos una cuenta, o sospechamos razonablemente, que un Cliente está llevando a cabo actividades ilegales, o quebrantando las leyes y regulaciones
            aplicables, o los derechos de terceros, tales actividades del Cliente, incluidos, entre otros, su historial de compras y otros datos pertenecientes a su cuenta. ,
            será informado a las autoridades pertinentes, y su acceso puede estar restringido hasta nuevo aviso.
          </p>
          <p>Por la presente, dicho Cliente reconoce y consiente dichas divulgaciones.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">9. Reventa.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Los productos comprados a través de criptoPago no pueden revenderse y serán canjeados solo por el Cliente, en nombre del Cliente o por alguien a quien el Cliente
            haya regalado el Producto.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">10. Limitación de responsabilidad.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Algunas jurisdicciones limitan la capacidad de eximirse de responsabilidad. Con respecto a esas jurisdicciones, nuestra responsabilidad se limitará en la mayor
            medida permitida por la ley aplicable.
          </p>
          <p>
            <b>Nuestro equipo.</b> Ningún miembro de nuestro equipo (incluidos empleados, contratistas, directores, miembros de la gerencia y otros colaboradores) tendrá
            ninguna responsabilidad basada en el uso o la confianza del cliente en criptoPago o los Productos comprados. Decisiones del cliente. Para evitar dudas, no somos
            responsables de ninguna decisión que tome, o acción que tome, en función de su visita a criptoPago o la información obtenida en el mismo.
          </p>
          <p>
            <b>Exactitud de la información.</b> No seremos responsables ante ninguna persona por ninguna pérdida o daño que pueda surgir del uso de la información contenida
            en cualquiera de los materiales de criptoPago.
          </p>
          <p>
            <b>Seguridad.</b> Trabajamos permanentemente para mantener criptoPago seguro. No aceptamos responsabilidad alguna por virus, malware u otro software malicioso o
            dañino en los dispositivos del Cliente. Asegúrese de que la seguridad de su propia computadora sea completa y esté actualizada.
          </p>
          <p>
            <b>Contenido de terceros.</b> Este sitio web puede incluir enlaces a sitios web, complementos y aplicaciones de terceros. Por ejemplo: si lo vinculamos a a página
            de Términos y condiciones de uno de los Emisores de los Productos, desde el momento en que hace clic en ese vínculo, ya no somos responsables. para el contenido
            que está viendo o al que tiene acceso. No controlamos estos sitios web de terceros y no aceptamos responsabilidad alguna por los sitios de terceros disponibles a
            través de criptoPago, a través de hipervínculos o de otro modo, ni sus respectivos contenidos, hipervínculos o fallas de seguridad. Alentamos a cualquier Cliente
            a revisar los términos de uso aplicables a esos sitios. Cualquier acceso o uso de un sitio de terceros es únicamente por cuenta y riesgo del Cliente.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">11. Protección de datos personales y privacidad.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Nos tomamos muy en serio la privacidad y protección de los datos personales de nuestros Clientes.</p>
          <p>
            Los clientes deben visitar y revisar nuestra <a class="text-decoration-none" [routerLink]="['/politicas-de-privacidad']">Política de privacidad</a> para saber más sobre cómo procesamos y protegemos sus datos y no continuarán
            con el uso de criptoPago si no está de acuerdo y al continuar el uso de la plataforma está dando su consentimiento.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">12. Enmiendas a los Términos.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Nos reservamos el derecho de modificar estos Términos en cualquier momento, sin obligación de previo y / o aviso público. Como tal, los Clientes deberán consultar
            el presente hipervínculo antes de cada navegación en criptoPago.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">13. Propiedad intelectual.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Nos reservamos todos los derechos con respecto al diseño y contenido de criptoPago. En particular, el Cliente no debe apropiarse indebidamente del diseño o
            contenido de criptoPago y no debe alterar ni desfigurar dicho diseño o contenido de ninguna manera. Nada en criptoPago otorga ninguna licencia con respecto a
            dicho diseño o contenido y cualquier uso por parte del Cliente o de un tercero debe ser autorizado por escrito por nosotros.
          </p>
          <p>
            Todo el texto, fotos, gráficos, logotipos, contenido y otros materiales de criptoPago están protegidos por derechos de autor, marcas registradas y otras leyes
            aplicables en las distintas jurisdicciones donde actuamos. En particular, todas las marcas comerciales, nombres comerciales y logotipos que se muestran en
            criptoPago son de nuestra propiedad.
          </p>
          <p>criptoPago no concede ninguna licencia para utilizar dichos textos, fotografías, gráficos, logotipos, contenido y otros materiales.</p>
          <p>Nosotros y nuestras afiliadas buscaremos todos los recursos legales disponibles contra cualquier infracción de nuestros derechos de propiedad intelectual.</p>
          <p>
            Se exceptúan de lo anterior los logotipos y marcas comerciales utilizados para señalar a los proveedores externos a los que se refiere cada Producto. Dichos
            logotipos y marcas comerciales se utilizan para hacer referencia al Producto y al Emisor, y de ninguna manera reclamamos ni representamos ningún tipo de
            propiedad, licencia, autorización, asociación o acuerdo con los propietarios o titulares de los derechos de dichos logotipos. o marcas comerciales, los Productos
            o los Emisores. Dichos logotipos y marcas comerciales pertenecen a sus propietarios legales y se utilizan en criptoPago con el único propósito de identificar el
            origen o el uso previsto del Producto a la venta.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">14. Servicio al cliente.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Damos la bienvenida a las preguntas y sugerencias de nuestros clientes.</p>
          <p>
            En criptoPago, hay una función de correo que permite a los Clientes conectarse con un representante de servicio al cliente que responderá a cualquier consulta en
            el menor tiempo posible.
          </p>
          <p>
            Hacemos todo lo posible para responder dentro de las primeras 24 horas, pero es posible que demoremos más, según el problema y la cantidad de solicitudes que
            recibamos de vez en cuando.
          </p>
          <p>
            En caso del Cliente, por cualquier motivo. necesita ponerse en contacto con nosotros, utilice la siguiente dirección:
            <a class="text-decoration-none" href="mailto:soporte@criptopago.net">soporte@criptopago.net</a>.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-700">
              <h5 class="font-weight-700 mb-0">15. Varios.</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Si es ilegal o está prohibido en el país de origen del Cliente acceder o usar criptoPago, o comprar o usar cualquiera de los Productos, el Cliente deberá abstener
            de utilizar nuestros servicios, al hacerlo, estará incumpliendo estos Términos.
          </p>
          <p>Aquellos que eligen acceder a criptoPago acceden a él por su propia iniciativa y son responsables del cumplimiento de todas las leyes y regulaciones locales.</p>
          <p>
            Bajo estos Términos, las transacciones entre los Clientes y nosotros realizadas a través de criptoPago, y cualquier disputa relacionada con estos Términos o el
            uso de criptoPago por parte del Cliente, se regirán en todos los aspectos por las leyes de México y se resolverán exclusivamente en los tribunales de México.
          </p>
          <p>
            Estos Términos, junto con la <a class="text-decoration-none" [routerLink]="['/politicas-de-privacidad']">Política de Privacidad</a>, establecen el acuerdo completo entre el Cliente y nosotros con respecto al tema del presente
            y reemplaza todos los acuerdos anteriores relacionados con dicho tema.
          </p>
          <p>
            Todos los miembros de nuestro equipo, incluidos los funcionarios, empleados y contratistas, y las entidades relacionadas, son terceros beneficiarios previstos de
            estos Términos. Los suyos y nuestros derechos en virtud de estos Términos pueden ser renunciados por ellos o por nosotros solo por escrito.
          </p>
          <p>La versión en español de estos Términos y cualquier otra regla disponible en criptoPago prevalecerá sobre cualquier traducción disponible en criptoPago.</p>
          <p>
            En el caso de que se determine que alguna disposición de estos Términos es inválida o inaplicable, dicha disposición se considerará separada del resto de estos
            Términos y reemplazada por una disposición válida y exigible con una intención tan similar como sea razonablemente posible a la disposición así separada, y no
            causará la invalidez o inaplicabilidad del resto de estos Términos.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </mat-card>
  </div>
</div>