h4, form {
  font-family: Inter !important;
}

h4 {
  font-weight: 700;
}

form {
  font-size: .875rem !important;
}

.img-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.mat-icon {
  width: unset;
  height: unset;
  font-size: 100px;
}